<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="dev,test">
        <!--        <root level="debug">
                    <appender-ref ref="CONSOLE" />
                </root>-->
        <logger name="com.sqshine" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <!--输出mybatis的sql语句。-->
        <!--        <logger name="com.sqshine.readinglist.domain.mapper" level="TRACE" additivity="false">
                    <appender-ref ref="CONSOLE"/>
                </logger>-->
    </springProfile>
    <springProfile name="prod">
        <logger name="com.sqshine" level="INFO" additivity="false">
            <!-- 生产环境改为 FILE -->
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <!--    <if condition='property("spring.profiles.active").contains("dev")'>
            <then>
                <logger name="com.sqshine.helpers" level="DEBUG" additivity="false">
                    <appender-ref ref="CONSOLE"/>
                </logger>
            </then>
            <else>
                <logger name="com.sqshine.helpers" level="WARN" additivity="false">
                    <appender-ref ref="FILE"/>
                </logger>
            </else>
        </if>-->

</configuration>


